# usdgd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.usdg
host=127.0.0.1

#mainnet default
port=7634

#testnet default
#port=17634

#regtest default
#port=27634

#signet default
#port=37634

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=150000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=f6c7a8d9
genesis=00000e03ef71247a5078af07a30eecd93e0d86e8286ca6844f9e02fe8d1f9968
input=/home/example/.usdg/blocks

# testnet
#netmagic=06271809
#genesis=0000abae30e9f0c023d770429c40b7bc52d3dda8e39c1bc34088d5a67156bcee
#input=/home/example/.usdg/testnet/blocks

# regtest
#netmagic=70352206
#genesis=0000724595fb3b9609d441cbfb9577615c292abf07d996d3edabc48de843642d
#input=/home/example/.usdg/regtest/blocks

# signet
#netmagic=0a03cf40
#genesis=00000008819873e925422c1ff0f99f7cc9bbb232af63a077a480a3633bee1ef6
#input=/home/example/.usdg/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
